<div style="font-family: Arial, sans-serif;background-color: #f4f4f4;padding: 10px 20px;display: flex;align-items: center;justify-content: center; width: 100%;margin: 0 auto;">
    <table style="width: 100%;  max-width: 600px;  background-color: #ffffff;
  border-radius: 10px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);margin: 0 auto;">
        <tr>
            <td style="padding: 20px;">
                <h3 style="color: #00009b;text-align: center;display: block;">
                    Sujet: {{sujet}}
                </h3>
                <p>
                    Nom: {{nom}}
                </p>
                <p>
                    Message: {{message}}
                </p>
                <p style="color: #000; text-align: center;border-top: 1px solid #000">Email marketing géneré par
                    <a href="https://euclideservices.com" style="text-decoration: none;color: #00009b;">Euclide</a>.
                </p>
            </td>
        </tr>
    </table>
</div>