{% extends 'layout.html.twig' %}
{% block title %} {{ "A propos"|trans }} - Gracam {% endblock %}
{% block about %}actif{% endblock %}
{% block body %}

    {# <div class="container-fluid image10">

     </div>#}


    <!-- About Start -->


        </div>
    </div>

    <!-- About End -->
{% endblock %}



