<form name="calculateur" method="post" id="form" enctype="multipart/form-data">
    <div class="col-lg-12">
        <div class="row g-4 py-4">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="longueur" required="required"
                           maxlength="255" placeholder="Longueur (en m)"
                           class="form-control"/>
                    <label for="longueur" class="required">Longueur (en m)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="longueur" required="required"
                           maxlength="255" placeholder="Longueur (en m)"
                           class="form-control"/>
                    <label for="longueur" class="required">Largeur (en m)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="surface" required="required" placeholder="surface"
                           class="form-control" disabled/>
                    <label for="surface" class="required">Surface (en m²)</label>
                </div>
            </div>
            <div class="col-md-4">
                    <select class="form-control" placeholder="Longueur (en m)">
                        <option value="test 1 ">test 1</option>
                        <option value="test 1 ">test 2</option>
                    </select>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-control">
                        <option value="test">test</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <button class="btn btn-primaire p-3 w-100" type="submit">
                    <strong>{{ 'Calculer'|trans }}</strong>
                </button>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="prixUnitaire" required="required" placeholder="prixUnitaire"
                           class="form-control"/>
                    <label for="prixUnitaire" class="required">Prix Unitaire</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="quantite" required="required" placeholder="quantite"
                           class="form-control"/>
                    <label for="quantite" class="required">Quantite</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="total" required="required" placeholder="Total"
                           class="form-control" disabled/>
                    <label for="total" class="required">Total :</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <button class="btn btn-primaire btn-effect p-3 w-100"
                            type="submit" disabled><strong>{{ 'Commander'|trans }}</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>