<form name="calculateur" method="post" id="form" enctype="multipart/form-data">
    <div class="col-lg-12">
        <div class="row g-4 py-4">
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="longueur" required="required" onchange="ValeurNeg()"
                           maxlength="255" placeholder="Longueur (en m)"
                           class="form-control"/>
                    <label for="longueur" class="required">Longueur (en m)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="largeur" required="required" onchange="ValeurNeg()"
                           maxlength="255" placeholder="largeur (en m)"
                           class="form-control"/>
                    <label for="largeur" class="required">Largeur (en m)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="number" id="epaisseur" required="required" placeholder="epaisseur" onchange="ValeurNeg()"
                           class="form-control"/>
                    <label for="epaisseur" class="required">Epaisseur (en cm)</label>
                </div>
            </div>
            <div class="col-md-6">
                <button class="btn btn-primaire p-3 w-100" type="button" onclick="Calcules()">
                    <strong>{{ 'Calculer'|trans }}</strong>
                </button>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="number" id="volume" required="required" placeholder="Volume" onchange="ValeurNeg()"
                           class="form-control" readonly/>
                    <label for="volume" class="required">Volume (en m3)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" id="tonnage" required="required" placeholder="tonnage" onchange="ValeurNeg()"
                           class="form-control" readonly/>
                    <label for="tonnage" class="required">Tonnage (en t)</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" id="total" required="required" placeholder="Total" onchange="ValeurNeg()"
                           class="form-control" readonly/>
                    <label for="total" class="required">Total</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input type="text" id="totalTTc" required="required" placeholder="total/ttc" onchange="ValeurNeg()"
                           class="form-control" readonly/>
                    <label for="totalTTc" class="required">Total/TTC</label>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating">
                    <button class="btn btn-primaire btn-effect p-3 w-100"
                            type="submit" disabled><strong>{{ 'Commander'|trans }}</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function Calcules() {
        if ($('#largeur').val() > 0 && $('#longueur').val() > 0 && ($('#epaisseur').val() / 100) > 0) {
            $('#volume').val($('#largeur').val() * $('#longueur').val() * ($('#epaisseur').val() / 100));
         }
        else {
            $("#longueur").val("");
            $("#largeur").val("");
            $("#epaisseur").val("");
        }

        $('#tonnage').val(($('#largeur').val() * $('#longueur').val() * ($('#epaisseur').val() / 100) * 1.35).toFixed(2));
        $('#total').val(Math.ceil($('#tonnage').val() * 5870));
        $('#totalTTc').val(Math.ceil($('#tonnage').val() * 7000));

        var prix = new Intl.NumberFormat().format(Math.ceil($('#tonnage').val() * $('#prixHt').val()));
        $('#total').val(prix);
        var prix = new Intl.NumberFormat().format(Math.ceil($('#tonnage').val() * $('#prixTTC').val()));
        $('#totalTTc').val(prix);
    }
    function ValeurNeg() {
        if ($("#longueur").val() > 0 || $("#largeur").val() > 0 || $("#largeur").val() > 0 || $('#epaisseur') > 0 ||$('#tonnage').val()>0 || $('#tonnage').val()>0  ) {
            $("#volume").val("");
            $("#tonnage").val("");
            $("#total").val("");
        } else {
            $("#longueur").val("");
            $("#largeur").val("");
            $("#epaisseur").val("");
            $("#tonnage").val("");
            $("#total").val("");
            $("#totalTTc").val("");
        }

    }
</script>
