@import url('https://fonts.googleapis.com/css?family=Heebo:wght@400;500;600');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@600;700;800&display=swap');

:root {
    --primaire: #0066ff;
    --primaire-rgb: 0, 102, 255;
    --primaire-soft: #dae9ff;
    --primaire-soft-rgb: 0, 234, 255;
    --secondaire: #ffffff;
    --secondaire-rgb: 255, 255, 255;
    --tertiaire: #001432;
    --tertiaire-rgb: 0, 20, 50;
    --noir: #0c0c0c;
    --noir-rgb: 12, 12, 12;
    --header-overlay: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.carousel-img {
    width: 100%;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 18.5 / 9;
}

.carousel-img.slide_1 {
    background-image: url('../images/slide_1.avif');
}

.carousel-img.slide_2 {
    background-image: url('../images/slide_2.avif');
}

.carousel-img.slide_3 {
    background-image: url('../images/slide_3.avif');
}

.carousel-overlay {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 70%, transparent);
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-carousel .carousel-control {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    z-index: 4000;
}

.header-carousel .carousel-control .carousel-control-prev,
.header-carousel .carousel-control .carousel-control-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondaire);
    background: transparent;
    font-size: 50px;
    transition: .5s;
    border-radius: 50%;
}

.header-carousel .carousel-control .carousel-control-prev:hover,
.header-carousel .carousel-control .carousel-control-next:hover {
    color: var(--primaire);
}

.header-carousel .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 3px solid var(--primaire);
    border-radius: 3px;
}

.header-carousel .carousel-indicators [data-bs-target].active {
    background-color: var(--primaire);
    border-radius: 50%;
    border: 3px solid var(--primaire);
}

.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1;
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item.center .testimonial-text * {
    transition: .5s;
    min-height: 50px;
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: var(--primaire) !important;
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--blanc) !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 20px;
    gap: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid var(--primaire);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primaire);
    border-color: var(--primaire);
    width: 30px;
}

.testimonial-carousel .owl-nav {
    display: flex;
    position: absolute;
    top: 40%;
    font-size: 50px;
    color: var(--primaire);
    width: 100%;
    z-index: 1200;
}

.testimonial-carousel .owl-nav:hover {
    /*color: var(--secondaire);*/
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: inherit;
}

.testimonial-carousel .owl-nav .owl-prev {
    left: -30px;
}

.testimonial-carousel .owl-nav .owl-next {
    right: -30px;
}

@media (min-width: 769px) and (max-width: 992px) {
    .carousel-img {
        aspect-ratio: 4 / 3;
    }

    .carousel-img.slide_1 {
        background-image: url('../images/slide_1_tab.avif');
    }

    .carousel-img.slide_2 {
        background-image: url('../images/slide_2_tab.avif');
    }

    .carousel-img.slide_3 {
        background-image: url('../images/slide_3_tab.avif');
    }

    .carousel-overlay {
        width: 70%;
    }




}

@media (max-width: 768px) {
    .carousel-img {
        aspect-ratio: 1 / 1;
    }

    .carousel-img.slide_1 {
        background-image: url('../images/slide_1_mobil.avif');
    }

    .carousel-img.slide_2 {
        background-image: url('../images/slide_2_mobil.avif');
    }

    .carousel-img.slide_3 {
        background-image: url('../images/slide_3_mobil.avif');
    }

    .carousel-overlay {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
    }

    .header-carousel .carousel-control {
        position: absolute;
        top: 40%;
    }


}

/*responsive page accueil*/
@media (min-width: 480px)and (max-width: 1024px) {

}
@media (min-width: 992px)and (max-width: 1350px) {

}




