@import url('https://fonts.googleapis.com/css?family=Heebo:wght@400;500;600');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@600;700;800&display=swap');

:root {
    --primaire: #2E2D33;
    --primaire-rgb: 46, 45, 51;
    --primaire-soft: #C7B295;
    --primaire-soft-rgb: 0, 234, 255;
    --secondaire: #ffffff;
    --secondaire-rgb: 255, 255, 255;
    --tertiaire: #001432;
    --tertiaire-rgb: 0, 20, 50;
    --noir: #0c0c0c;
    --noir-rgb: 12, 12, 12;
    --header-overlay: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
    --bs-navbar-color:#fff;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Navbar design */
.navbar{
    background-color:rgba(46, 45, 51, .9)
}

.navbar .img-logo{
    width: 100px;
    height: 60px;
    /* background-color: #ffffff; */
}
.navbar .nav-link{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    color: var(--secondaire);
}
.img_logo{
    width: 100px;
    height: 80px;
}

.navbar .nav-item:hover{
    border-bottom: 5px solid var(--primaire-soft);
    color: white;
}
.navbar .dropdown-menu{
    background-color: var(--primaire-soft);
}
.navbar .dropdown-menu  a{
    color: var(--navbarColor);
    font-size: 15px;
    font-weight: 700;
}
.navbar .dropdown-menu .dropdown-item:hover{
    background-color: var(--primaire-soft);
    border-bottom: 5px solid var(--primaire);
    color: var(--primaire-soft);
    color: white;
}





























.carousel-img {
    width: 100%;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 18.5 / 9;
    height: 700px;
}

.carousel-img.slide_1 {
    background-image: url('../images/slide_1.jpg');
}

.carousel-img.slide_2 {
    background-image: url('../images/slide_2.jpg');
}

.carousel-img.slide_3 {
    background-image: url('../images/slide_3.jpg');
}

.carousel-overlay {
    background: linear-gradient(90deg, rgba(151, 136, 136, 0.8) 10%, transparent);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.header-carousel .carousel-control {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 95%;
    z-index: 4000;
}

.header-carousel .carousel-control .carousel-control-prev,
.header-carousel .carousel-control .carousel-control-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondaire);
    background: transparent;
    font-size: 50px;
    transition: .5s;
    border-radius: 50%;
}

.header-carousel .carousel-control .carousel-control-prev:hover,
.header-carousel .carousel-control .carousel-control-next:hover {
    color: var(--primaire);
}

.header-carousel .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-carousel .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 3px solid var(--primaire);
    border-radius: 3px;
}

.header-carousel .carousel-indicators [data-bs-target].active {
    background-color: var(--primaire-soft);
    border-radius: 50%;
    border: 3px solid var(--primaire);
}
c

.testimonial-carousel .owl-dot {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid var(--primaire);
    border-radius: 15px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    position: inherit;
}

.testimonial-carousel .owl-nav .owl-prev {
    left: -30px;
}

.testimonial-carousel .owl-nav .owl-next {
    right: -30px;
}

.carousel-item h1.fs-2{
    font-size: 3rem !important;
    color: var(--secondaire) !important;
}










@media (min-width: 769px) and (max-width: 992px) {
    .carousel-img {
        aspect-ratio: 4 / 3;
    }

    .carousel-img.slide_1 {
        background-image: url('../images/slide_1.jpg');
    }

    .carousel-img.slide_2 {
        background-image: url('../images/slide_2.jpg');
    }

    .carousel-img.slide_3 {
        background-image: url('../images/slide_3.jpg');
    }

    .carousel-overlay {
        width: 70%;
    }




}

@media (max-width: 768px) {
    .carousel-item h1.fs-2{
        color: var(--secondaire) !important;
        font-size: 1.8rem !important;
    }
    
    .carousel-img {
        aspect-ratio: 1 / 1;
    }
    .navbar{
        border-bottom: 1px solid var(--secondaire);
    }
    .carousel-img.slide_1 {
        background-image: url('../images/slide_1.jpg');
    }

    .carousel-img.slide_2 {
        background-image: url('../images/slide_2.jpg');
    }

    .carousel-img.slide_3 {
        background-image: url('../images/slide_3.jpg');
    }

    .carousel-overlay {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
    }

    .header-carousel .carousel-control {
        position: absolute;
        top: 30%;
    }


}



