@import url('https://fonts.googleapis.com/css?family=Heebo:wght@400;500;600');
@import url('https://fonts.googleapis.com/css?family=Nunito:wght@600;700;800&display=swap');

:root {
    --primaire: #0066ff;
    --primaire-rgb: 0, 102, 255;
    --primaire-soft: #dae9ff;
    --primaire-soft-rgb: 0, 234, 255;
    --secondaire: #ffffff;
    --secondaire-rgb: 255, 255, 255;
    --tertiaire: #001432;
    --tertiaire-rgb: 0, 20, 50;
    --noir: #0c0c0c;
    --noir-rgb: 12, 12, 12;
    --header-overlay: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 769px) and (max-width: 992px) {



}

@media (max-width: 768px) {

}

/*responsive page accueil*/
@media (min-width: 480px)and (max-width: 1024px) {

}
@media (min-width: 992px)and (max-width: 1350px) {

}




